@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* * {
  overflow-x: hidden;
} */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 100vw;
}

.header {
  height: 800px;
  box-sizing: border-box;
}

.header .inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

.program,
.bonus {
  background-color: #d8d8d8;
  height: 800px;
  box-sizing: border-box;
  padding-top: 1px;
}

.program .inner,
.speaker .inner {
  width: 960px;
  margin: 0 auto;
}

.info {
  height: 486px;
  box-sizing: border-box;
}

.info .inner {
  width: 965px;
  margin: 0 auto;
}

.speaker {
  height: 800px;
  box-sizing: border-box;
  background-color: #2e6ecc;
  padding-top: 1px;
}

.review {
  height: 800px;
  box-sizing: border-box;
}

.bonus .inner {
  width: 1100px;
  margin: 0 auto;
}

.social {
  height: 126px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  padding-top: 36px;
  /* background: url("../assets/img/header-bg.svg") no-repeat; */
  background: url("../assets/img/newpng.png") no-repeat;
  background-position: 100% 120%;
  transform-origin: center center;
  /* background-position: 110% -10%; */
  background-size: 550px;
}

.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 290px;
}

.header__link {
  color: rgb(35, 74, 147);
  font-size: 18px;
  line-height: 21px;
}

.header__link:hover {
  text-decoration: underline;
  color: #2e6ecc;
}

.header__text {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.header__title {
  max-width: 600px;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  margin: 140px 0 42px 0;
}

.header__text-blue {
  color: #2e6ecc;
  font-size: 22px;
  margin-bottom: 0;
}

.header__register-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 19px 52px;
  background-color: #2e6ecc;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  border-radius: 30px;
  transition: 500ms linear all;
}

.header__register-link:hover {
  transform: scale(1.06);
}

.program__container {
  display: flex;
}

.caption {
  margin-top: 70px;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #2e6ecc;
  text-align: center;
}

.program__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  width: 426px;
  list-style: none;
}

.program__list-item {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #2e6ecc;
  margin-bottom: 50px;
}

.program__item-text {
  /* max-width: 80%; */
  /* text-align: center; */
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #0a071f;
  margin-bottom: 0;
}

.info__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.info__list-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__text {
  text-align: center;
  font-size: 16px;
}

.info .caption {
  margin-bottom: 70px;
}

.speaker .caption {
  color: white;
  margin-bottom: 110px;
}

.speaker__container {
  display: flex;
}

.speaker__list {
  list-style: none;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-right: 42px;
}

.speaker__list-item {
  margin-bottom: 25px;
  text-align: center;
}

.speaker__list-item:first-child {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 29px;
}

.speaker__list-item:last-child {
  margin-bottom: 0;
}

.swiper-wrapper {
  text-align: center;
  margin-bottom: 54px;
}

.swiper-slide {
  padding-top: 15px;
}

.review .caption {
  margin-bottom: 70px;
}

.review__img {
  filter: drop-shadow(0px 0px 8px #000000);
  border-radius: 30px;
}

.speaker__img {
  width: 200px;
  height: 260px;
}

.bonus__container {
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}

.bonus .inner {
  max-width: 100%;
}

.bonus__texts {
  margin: 60px 0 0 50px;
}

.bonus__text {
  font-size: 28px;
  line-height: 33px;
}

.bonus__text-blue {
  font-weight: bold;
  color: #2e6ecc;
}

.bonus__register {
  display: flex;
  justify-content: center;
}

.solial__list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
}

.social__link-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 500ms linear all;
}

.social__link-img:hover {
  transform: scale(1.06);
}

.footer {
  height: 116px;
  box-sizing: border-box;
  background-color: #0a071f;
  display: flex;
  align-items: center;
}

.footer .inner {
  margin: 0 auto;
  width: 1080px;
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__text {
  color: #fff;
}

.footer_link-politic {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.footer_link-politic:hover {
  text-decoration: underline;
}

.footer__anchor {
  width: 112px;
  text-transform: uppercase;
  color: #4281da;
  text-decoration: none;
}

.footer__anchor:hover {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .header {
    height: 80%;
    padding-bottom: 24px;
  }

  .header__container {
    padding-top: 12px;
    background-position: 50% 10%;
    /* background-size: 100% 244px; */
    background-size: 100% 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__logo-container {
    width: 70%;
  }

  .header__link {
    font-size: 16px;
  }

  .header__title {
    margin: 254px 0 32px 0;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .header__text {
    font-size: 16px;
    margin: 0 0 32px 0;
  }

  .header__register-link {
    font-size: 16px;
    padding: 12px 36px;
    margin-bottom: 10px;
  }

  .program {
    height: 80%;
  }

  .program .inner {
    width: 80%;
  }

  .program__list {
    max-width: 100%;
    padding-left: 0;
  }

  .program__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .program__image {
    display: block;
  }

  .program .caption,
  .speaker .caption,
  .info .caption,
  .review .caption,
  .bonus .caption {
    margin: 32px 0;
    font-size: 32px;
    line-height: 40px;
  }

  .program .caption {
    margin-bottom: 0;
  }

  .program__list-item {
    margin-bottom: 44px;
    text-align: center;
  }

  .program__item-text {
    text-align: center;
  }

  .info {
    height: 970px;
  }

  .info .inner,
  .speaker .inner,
  .review .inner,
  .bonus .inner {
    width: 80%;
  }

  .info__list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .info__list-item {
    margin-bottom: 24px;
  }

  .speaker {
    height: 80%;
    padding-bottom: 16px;
  }

  .speaker__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .speaker .inner {
    /* background: url("../assets/img/speaker-op.svg") center no-repeat; */
    background-size: contain;
  }

  .speaker__list {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 18px;
  }

  .speaker__list-item {
    margin-bottom: 12px;
  }

  .speaker__list-item:first-child {
    text-align: center;
    margin-top: 30px;
  }

  .review {
    height: 80%;
    margin-bottom: 24px;
  }

  .review__img {
    width: 90%;
  }

  .swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }

  .swiper-wrapper {
    margin-bottom: 24px;
  }

  .bonus {
    height: 80%;
    padding-bottom: 24px;
  }

  .bonus__texts {
    margin: 0;
  }

  .bonus__text {
    margin-top: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .social {
    height: 80%;
  }

  .social__link-img {
    width: 50px;
    height: 50px;
  }

  .footer {
    height: 80%;
  }

  .footer_link-politic,
  .footer__anchor,
  .footer__text {
    font-size: 10px;
  }

  .footer__anchor,
  .footer__text {
    width: 20%;
  }

  .footer__anchor {
    text-align: right;
  }

  .bonus__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bonus__img {
    width: 260px;
    height: 260px;
  }

  .bonus__text {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 379px) {
  .header__container {
    background-size: 280px 35%;
  }

  .header__title {
    font-size: 28px;
    line-height: 30px;
  }

  .header__title .header__text-blue {
    font-size: 28px;
    line-height: 30px;
  }

  .header__text .header__text-blue {
    font-size: 16px;
  }
}

@media (min-width: 380px) and (max-width: 450px) {
  .header__container {
    background-size: 100% 45%;
  }

  .header__title {
    font-size: 28px;
    line-height: 30px;
  }

  .header__title .header__text-blue {
    font-size: 28px;
    line-height: 30px;
  }

  .header__text .header__text-blue {
    font-size: 16px;
  }
}

@media (min-width: 451px) and (max-width: 1023px) {
  .header__container {
    background-size: 425px 270px;
  }

  .header__title {
    font-size: 28px;
    line-height: 30px;
  }

  .header__title .header__text-blue {
    font-size: 28px;
    line-height: 30px;
  }

  .header__text .header__text-blue {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .header__container {
    padding-top: 12px;
    /* background-image: url("../assets/img/header-bg-op.svg"); */
  }
}

@media (min-width: 1024px) {
  .header__title .header__text-blue {
    font-size: 50px;
  }
  .header__container {
    padding-top: 60px;
  }

  .speaker__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .speaker__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .speaker__img {
    order: 2;
    height: 433px;
    width: 313px;
    margin-left: 32px;
  }

  .bonus__text {
    word-wrap: break-word;
  }
}

/* 0a071f */
/* 2d6fcb */
